/* shared styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google font poppins */
body{
  font-family: "Poppins", sans-serif;
}
.container{
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}
.btn-primary{
 border-radius: 41px;
background: rgb(224, 44, 109);
color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 700;
padding: 10px 20px;
border: 0;
}
/* nav related styles */
nav{
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
nav>ul{
  display: flex;
}
nav ul li{
  list-style: none;
  margin-right: 30px;
}
nav li a{
  text-decoration: none;
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 1rem;
font-weight: 600;
}
.nav-title{
  color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 1.5rem;
font-weight: 700;

}

/* banner styles */
.banner{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.banner-content{
  max-width: 590px;
}

.banner-title{
color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 3.25rem;
font-weight: 700;
}
.banner-description{
color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 1rem;
font-weight: 600;
margin: 16px 0;
}
.banner-img{
 background-image: url('../images/circle.svg');
}
/* sponsors */
.sponsors-container{
  margin-top: 80px;
 display: grid;
 grid-template-columns: repeat(7,1fr);
  /* align-items: center; */
}
/* popular content */
.popular-content .popular-title{
 color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 28px;
font-weight: 600;
text-align: center;
margin-top: 100px;
}
.popular-card-container{
  margin-top: 50px;
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 30px;
  row-gap: 30px;
}
.card{
border-radius: 5px;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
padding: 20px;
width: 360px;

}
.card .product-name{
 color: rgb(24, 25, 31);
font-family: Poppins;
font-size: 2.8rem;
font-weight: 500;
}
.card .product-price{
color: rgba(0, 0, 0, 0.87);
font-family: Inter;
font-size: 1.5rem;
font-weight: 400;
margin-bottom: 8px;
}
.card .product-description{
  color: rgb(120, 120, 133);
font-family: Inter;
font-size: .98rem;
font-weight: 700;
}
/* featured styles */
.featured{
  display: flex;
  gap: 90px;
  margin-top: 100px;
}
.featured-content{
  width: 610px;
  margin: 0 auto;
}
.featured-title{
  color: rgb(10, 8, 38);
font-family: Poppins;
font-size: 2.25rem;
font-weight: 700;
}
.featured-description{
  color: rgb(108, 108, 108);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
}
.btn-join-now{
  background: rgb(224, 44, 109);
 color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
padding: 10px 20px;
border: 0;
margin-top: 16px;
}
/* footer */
.footer{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
background: #221E52;
padding: 50px;
}
.footer-title{
 color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 1.5rem;
font-weight: 700;
}
.copyright{
  color: rgb(217, 219, 225);
font-family: Manrope;
font-size: 14px;
font-weight: 700;
}
.social-icon{
  display: flex;
  justify-content: center;
}
.social-icon li{
  list-style: none;
  margin-right: 16px;
  color: #FFFFFF;
  font-size: 16px;
  border: 1px solid gray;
 background: #493CF9;
border-radius: 50%;
padding: 10px;
margin-top: 16px ;

}


/* responsive style */
@media screen and (max-width:576px) {
  .banner,
  .featured{
    flex-direction: column-reverse;
   
  }
  nav>ul{
    display: none;
  }
  .banner-content,
  .featured-content{
    text-align: center;
  }
  .sponsors-container{
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    align-items: center;
  }
  .popular-card-container{
    grid-template-columns: repeat(1,1fr);
  }
  .footer{
    width: 400px;
  }
}